*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ccc;
  padding-top: 50px;
  margin-left: 300px;
  font-size: 20px;
}
input, select,option{
  padding: 10px;
  font-size: 16px;
}
input{
  margin: 10px 0;
}
button{
  font-size: 20px;
  margin-left: 10px;
  padding: 2px 4px;
}